@using System.Globalization;
@using TextTales.Models;
@using TextTales.Web.Interfaces;

@attribute [Route(Endpoints.Product.AddUrl)]

@inject IProductService ProductService
@inject ICategoryService CategoryService
@inject IWebHostEnvironment WebHostEnvironment
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<PageTitle>New Product</PageTitle>
<RadzenStack AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
    <h2>
        <span class="oi oi-list-rich" aria-hidden="true"></span> New Product
    </h2>
</RadzenStack>

<RadzenTemplateForm TItem="Product" Data="Model" Submit="SubmitHandler">
    <RadzenCard class="my-2">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="Title" />
                <RadzenTextBox Name="Title" @bind-Value="Model.Title" class="form-control" />
                <RadzenRequiredValidator Component="Title" Text="The Title field is required." Style="position: absolute; font-weight: bold;" />
                <RadzenCustomValidator Component="Title" Validator="() => ProductService.ValidateField(null, Model.Title, nameof(Model.Title))"
                                       Text="The Title field already exists." Style="position: absolute; font-weight: bold;" />
            </div>
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="Author" />
                <RadzenTextBox Name="Author" @bind-Value="Model.Author" class="form-control" />
                <RadzenRequiredValidator Component="Author" Text="The Author field is required." Style="position: absolute; font-weight: bold;" />
            </div>
            <div class="form-group mb-3 w-100">
                <RadzenLabel Text="Description" />
                <RadzenHtmlEditor @bind-Value=@Model.Description style="height: 300px;" />
            </div>
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="Category" />
                <RadzenDropDown Name="CategoryId" @bind-Value="Model.CategoryId" Data=Categories TextProperty="Name" ValueProperty="Id" Placeholder="Select Category" class="form-control" />
                <RadzenCustomValidator Component="CategoryId" Validator="() => Model.CategoryId != default"
                                       Text="The Category field is required." Style="display: block; position: absolute; font-weight: bold;" />
            </div>
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="ISBN" />
                <RadzenTextBox Name="InternationalStandardBookNumber" @bind-Value="Model.InternationalStandardBookNumber" class="form-control" />
                <RadzenRequiredValidator Component="InternationalStandardBookNumber" Text="The ISBN field is required." Style="position: absolute; font-weight: bold;" />
                <RadzenCustomValidator Component="InternationalStandardBookNumber" Validator="() => ProductService.ValidateField(null, Model.InternationalStandardBookNumber, nameof(Model.InternationalStandardBookNumber))"
                                       Text="The ISBN field already exists." Style="position: absolute; font-weight: bold;" />
            </div>
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="Price" />
                <RadzenNumeric Name="Price" TValue="decimal" Format="c" @bind-Value="Model.Price" class="form-control" Culture="CultureInfo" />
                <RadzenNumericRangeValidator Component="Price" Min="1" Max="500" Text="The Price field should be between 1 and 500 €."
                                             Style="display: block; position: absolute; font-weight: bold;" />
            </div>
            <div class="form-group mb-3 w-50">
                <RadzenLabel Text="Image" />
                <InputFile OnChange="LoadImage" accept="image/*" class="form-control" />
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <RadzenImage Path="@Model.Image" class="mt-2 img-thumbnail" />
                }
            </div>
        </RadzenStack>
        <div class="mt-3">
            <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="2rem">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save & Close" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" />
                <RadzenButton ButtonType="ButtonType.Button" Text="Cancel" Click="OnCancelClickHandler" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" />
            </RadzenRow>
        </div>
    </RadzenCard>
    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Danger" Visible="@_isVisible" Text="@_alertText" />
</RadzenTemplateForm>

@code {
    private Product Model { get; set; } = new();

    private CultureInfo CultureInfo { get; set; } = new CultureInfo("fr-FR");

    private IEnumerable<Category>? Categories { get; set; }

    private bool _isVisible = false;

    private string _alertText = string.Empty;

    private IBrowserFile? _file;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Categories = await CategoryService.GetCategories();
    }

    private async Task SubmitHandler()
    {
        if (_file is not null)
        {
            var fileName = await SaveImage(_file);

            Model.Image = fileName;
        }

        var isCreated = await ProductService.CreateProduct(Model);

        if (!isCreated)
        {
            await DisplayError("Something went wrong! Failed to create new product.");

            return;
        }

        NavigationManager.NavigateTo(Endpoints.Product.BaseUrl);
        NotificationService.Notify(NotificationSeverity.Success, "Success", "New product added successfully!");
    }

    private void OnCancelClickHandler()
    {
        NavigationManager.NavigateTo(Endpoints.Product.BaseUrl);
    }

    private async Task DisplayError(string message)
    {
        _isVisible = true;
        _alertText = message;

        await InvokeAsync(StateHasChanged);

        await Task.Delay(5000);

        _isVisible = false;

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadImage(InputFileChangeEventArgs args)
    {
        var file = args.File;

        if (file != null)
        {
            const int maxFileSize = 10 * 1024 * 1024; // 10MB

            if (file.Size <= maxFileSize)
            {
                _file = file;

                // Read the file content
                using var stream = file.OpenReadStream(maxFileSize);
                using var memoryStream = new MemoryStream();
                await stream.CopyToAsync(memoryStream);

                // Convert the image bytes to base64 string
                var imageBytes = memoryStream.ToArray();
                var base64Image = $"data:{file.ContentType};base64,{Convert.ToBase64String(imageBytes)}";

                Model.Image = base64Image;
            }
        }
    }

    private async Task<string?> SaveImage(IBrowserFile file)
    {
        var wwwRootPath = WebHostEnvironment.WebRootPath;
        var productPath = Path.Combine(wwwRootPath, @"images\product");

        if (!Directory.Exists(productPath))
        {
            try
            {
                Directory.CreateDirectory(productPath);
            }
            catch (Exception ex)
            {
                await DisplayError($"Failed to create the directory: {ex.Message}");

                return null;
            }
        }

        var fileName = $"{Guid.NewGuid()}{Path.GetExtension(file.Name)}";
        var filePath = Path.Combine(productPath, fileName);

        using var stream = file.OpenReadStream();
        using var fileStream = new FileStream(filePath, FileMode.Create);

        await stream.CopyToAsync(fileStream);

        return fileName;
    }
}
