@using System.Globalization;
@using TextTales.Models;
@using TextTales.Web.Interfaces;

@attribute [Route(Endpoints.Product.BaseUrl)]
@attribute [Authorize(Roles = Roles.RoleAdmin)]

<PageTitle>Products</PageTitle>
<RadzenRow>
    <RadzenColumn Size="10">
        <h2>Products</h2>
    </RadzenColumn>
    <RadzenColumn Size="2" Style="text-align: end">
        <RadzenButton Click="NewProductHandler" Text="New" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
    </RadzenColumn>
</RadzenRow>

<RadzenDataGrid TItem="Product" Data="@Products" IsLoading="@_isLoading" AllowFiltering="true" AllowColumnResize="true"
                AllowAlternatingRows="false" AllowSorting="true" FilterMode="FilterMode.SimpleWithMenu"
                LogicalFilterOperator="LogicalFilterOperator.And" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedProducts>
    <Columns>
        <RadzenDataGridColumn TItem="Product" Property="Id" Title="Id" Width="145px" />
        <RadzenDataGridColumn TItem="Product" Property="Title" Title="Title" />
        <RadzenDataGridColumn TItem="Product" Property="Author" Title="Author" />
        <RadzenDataGridColumn TItem="Product" Property="Category.Name" Title="Category" />
        <RadzenDataGridColumn TItem="Product" Property="InternationalStandardBookNumber" Title="ISBN" />
        <RadzenDataGridColumn TItem="Product" Property="Price" Title="Price">
            <Template Context="detail">
                @String.Format(new CultureInfo("fr-FR"), "{0:C}", detail.Price)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Product" Context="product" Filterable="false" Sortable="false">
            <Template Context="product">
                <RadzenRow Gap="1rem">
                    <RadzenColumn Size="6">
                        <RadzenButton Click="() => EditProductHandler(product.Id)" Text="Edit" Icon="edit" ButtonStyle="ButtonStyle.Dark" Style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn Size="6">
                        <RadzenButton Click="() => DeleteProductHandler(product.Id, product.Title)" Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Danger" Style="width: 100%" />
                    </RadzenColumn>
                </RadzenRow>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
